
<div class="row">
      <% if @book.errors.any? %>
        <div id="errors_explanation" class="alert alert-danger">
          <p>error</p>
            <%= @book.errors.count %>件のエラーが発生しました
            <ul>
              <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
        </div>
      <% end %>

          <%= render 'layouts/bookers2', user:@user ,new_book:@new_book %>

      <div class="col-md-9">
        <div class"books-index">
          <div class ="index-title">
            <h2>Books</h2>
          </div>

          <table class="table table-strip">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
            <% @books.each do |book| %>
              <tr>
                <td>
                   <%= link_to user_path(book.user.id) do %>
                   <%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "60x60" %>
                   <% end %>
                </td>

                  <td class="text-left">
                    <%= link_to book_path(book.id) do %>
                    <%= book.title %>
                    <% end %>
                  </td>
                  <td class="text-left">
                    <%= book.body %>
                  </td>
                  <td>
                    <%= "#{book.book_comments.count}コメント" %>
                  </td>
                  <td>
                    <% if book.favorited_by?(current_user) %>
                    <p>
                        <%= link_to book_favorites_path(book), method: :delete do %>
                            💛<%= book.favorites.count %> いいね
                        <% end %>
                    </p>
                    <% else %>
                    <p>
                        <%= link_to book_favorites_path(book), method: :post do %>
                            ♡<%= book.favorites.count %> いいね
                        <% end %>
                    </p>
                <% end %>
                  </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
  </div>
