<h1>Books画面</h1>
<% if @book.errors.any? %>
  <div id="errors_explanation" class="alert alert-danger">
    <p>error</p>
      <%= @book.errors.count %>件のエラーが発生しました
      <ul>
        <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<% end %>

<div class="side-bar">
    <%= render 'layouts/bookers2', user:@user ,new_book:@new %>
</div>

<div class"books-index">
  <div class ="index-title">
  <h2>Books</h2>
  </div>

  <table>
    <tr class ="table-tr">
      <th class="table-th">Title</th>
      <th class="table-th">Opinion</th>
    </tr>

     <tr class ="table-tr">
       <% @books.each do |book| %>
       <th>
         <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "60x60" %>
       </th>
      <th class="table-th">
        <%= book.user.name %>
      </th>
     <th class="table-th">
        <%= link_to book_path(book.id) do %>
        <%= book.title %>
        <% end %>
      </th>
      <th class="table-th">
        <%= book.body %>
      </th>
      <% end %>
    </tr>
  </table>
</div>
