
<div class="row">
    <%= render 'layouts/bookers2', user:@user ,new_book:@new_book %>



    <div class="col-md-9">
        <div class="bookdetail">
            <div class="detail-title">
                <h2>Book detail</h2>
            </div>
             <table class="table table-striped">
                 <tr>
                    <th>
                        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "60x60" %>
                        <%= link_to user_path(@user) do %>
                        <%= @book.user.name %>
                        <% end %>
                    </th>
                    <th><%= link_to book_path(@book.id) do %>
                        <%= @book.title %>
                        <% end %>
                    </th>
                    <th><%= @book.body %></th>
                    <% if @book.user == current_user %>
                    <th>
                        <%= link_to "Destroy",book_path, method: :delete,class: "btn btn-secondary btn-danger" %>
                    </th>
                    <th>
                        <%= link_to "Edit",edit_book_path,class: "btn btn-secondary btn-info" %>
                    </th>
                    <% end %>
                </tr>
            </table>
            <div class="comments">
                <p>コメント件数：<%= @book.book_comments.count %></p>
                <% @book.book_comments.each do |book_comment| %>
                    <p><%= attachment_image_tag book_comment.user.profile_image_id, :profile_image, fallback: "no_image.jpg", size: "60x60" %></p>
                    <%= book_comment.user.name %>
                    <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
                    <% if book_comment.user == current_user %>
                        <div class="comment-delete">
                            <%= link_to "削除",book_book_comment_path(book_comment.book,book_comment), method: :delete %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="new-comment">
                <%= form_with(model:[@book,@book_comment],local: true) do |f| %>
                    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
                    <%= f.submit "送信する" %>
                <% end %>
            </div>
            <% if @book_comment.errors.any? %>
                <div id="errors_explanation" class="alert alert-danger">
                  <p>error</p>
                    <%= @book_comment.errors.count %>件のエラーが発生しました
                    <ul>
                      <% @book_comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
             <% end %>

        </div>
    </div>
</div>
