


<div class="bookdetail">
    <div class="detail-title">
        <h2>Book detail</h2>
    </div>
    <p><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "60x60" %></p>
    <p><%= link_to user_path(@user.id) do %>
        <%= @book.user.name %>
    <% end %></p>
    <p><%= link_to book_path(@book.id) do %>
        <%= @book.title %>
    <% end %></p>
    <p><%= @book.body %></p>
    <% if @book.user == current_user %>
    <li>
        <%= link_to "Destroy",book_path, method: :delete %>
    </li>
    <li>
        <%= link_to "Edit",edit_book_path %>
    </li>
    <% end %>
</div>
