
<div class="row">

    <%= render 'layouts/bookers2', user:@user ,new_book:@new_book %>



    <div class="col-md-9">
        <%= render 'searchs/search', user_or_book: @user_or_book, users: @users, books: @books %>
        <div class="bookdetail">
            <div class="detail-title">
                <h2>Book detail</h2>
            </div>
             <table class="table table-striped">
                 <tr>
                    <td>
                        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "60x60" %>
                        <%= link_to user_path(@user) do %>
                        <%= @book.user.name %>
                        <% end %>
                    </td>
                    <td><%= link_to book_path(@book.id) do %>
                        <%= @book.title %>
                        <% end %>
                    </td>
                    <td><%= @book.body %></td>
                    <td class="favorite-btn_<%= @book.id %>">
                        <%= render'favorites/favorite-btn', book: @book %>
                    </td>
                     <% if @book.user == current_user %>
                        <td>
                            <%= link_to "Destroy",book_path, method: :delete,class: "btn btn-secondary btn-danger" %>
                        </td>
                        <td>
                            <%= link_to "Edit",edit_book_path,class: "btn btn-secondary btn-info" %>
                        </td>
                     <% end %>
                </tr>
            </table>

            <div class="comments">
                <div class="new-comment">
                  <%= form_with(model:[@book,@book_comment], remote: true) do |f| %>
                    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
                    <%= f.submit "送信する" %>
                  <% end %>
                </div>

                <div class="book-comment">
                    <%= render 'book_comments/book-comment', book: @book %>
                </div>
            </div>
        </div>
    </div>
</div>
